* { box-sizing: border-box; }

body {
  font-family: "Avenir Next", sans-serif;
  line-height: 1.4;
}

input {
  font-family: "Avenir Next", sans-serif;
}

.container {
  margin: auto;
  padding: 20px;
  max-width: 700px;
}

.header {
  height: 250px;
  text-align: center;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: lighter;
}

p {
  font-size: 18px;
}

.chat {
  position: relative;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 0;
  padding-bottom: 60px;
  height: calc(100vh - 280px);
  background: #fafafa;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.05);
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  transition: opacity .5s;
}

.messages.is-loading {
  opacity: .3;
}

.message {
  margin: 15px;
  max-width: 70%;
}

.message .author {
  margin: 0;
  color: #848484;
}

.message .body {
  display: inline-block;
  margin: 0;
  border-radius: 2px;
  padding: 10px;
  background-color: #ffa229;
  box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.1);
  color: white;
  text-align: left;
}

.message.is-me {
  margin-left: auto;
  text-align: right;
}

.message.is-me .body {
  background-color: #47cf73;
}
.message.is-me .author {
  text-align: right;
}

#author-input,
#chat-input {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  border-top: 1px solid #efefef;
  padding: 15px 10px;
  width: 100%;
  font-size: 1.3em;
}

#author-input:focus,
#chat-input:focus {
  outline: none;
}

#author-input.has-author {
  display:none;
}
