#header.header(class=page)
  nav.header__nav.nav-main
    ul.nav-main__list.container
      li.nav-main__item
        a.nav-main__link(href="/decouvrez-notre-librairie.html") Découvrez notre librairie
      li.nav-main__item
        a.nav-main__link(href="/notre-actualite.html") Notre actualité
      li.nav-main__item
        a.nav-main__link(href="/conseils-de-lecture.html") Conseils de lecture

  a.header__content.container(href="/")
      h1.header__title Librairie Clapet
      p.header__subtitle neuf &amp; occasion
