/* Permet de d'adapter automatiquement la taille des images à l'écran */
img { 
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  font-family: sans-serif;
  color: #2a2b2a;
  font-size: 1.2em;
}


.conseil-lecture {

}

.conseil-lecture__lien {
  display: block; 
}

.conseil-lecture__illustration {
  display: block;
}

.conseil-lecture__titre {

}

.conseil-lecture__auteur {

}