body {
  font-family:  "Avenir Next", "Segoe UI", sans-serif;
  margin: 0;
}

.header {
  position: relative;
  margin-bottom: 150px;
  height: calc(9 / 16 * 100vw);
  max-height: 75vh;
  background: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31b0b078f5da0a750f05e27c6d9df39b');
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}

.header .video {
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: calc(9 / 16 * 100vw);
  /* mix-blend-mode: screen; */
}
.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-50%)
}

.header .content {
  margin: 0;
  position: absolute;
  padding-top: 26px;
  padding-bottom: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px #000;
  background: rgba(0,0,0,.4)
}

.header h1 {
  font-size: 64px;
  margin: 0;
}

.header p {
  margin: 0;
  font-size: 42px;
  font-weight: lighter;
  text-shadow: 1px 1px 5px #000;
}

.container {
  margin: auto;
  padding: 0 20px;
  max-width: 1400px;
}

.list {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 150px;
  background-color: #fff;
}

@media (max-width: 720px) {
  body{ background-color: pink; }

  .list {
    display: block;
  }
}

.item {
  background: white;
  text-align: center;
}
.item img {
  mix-blend-mode: exclusion;
  transition: 500ms transform ;
  transform: none;
}
.item img:hover {
  transform: translateY(-20px) rotate(45deg) scale(1.2);
}

.item h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
}

.news {
  margin: auto;
  max-width: 1000px;
}

.news h2 {
  text-align: center;
  font-size: 64px;
  font-weight: lighter;
}

.une {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .une {
    display: block;
  }
}
.une .illu {
  background-color: #fff;
  text-align: center;
}
.une img {
  mix-blend-mode: exclusion;
  margin-right: 30px;
}

.une .title {
  font-size: 28px;
  font-weight: 500;
}


.footer {
  margin-top: 150px;
  background-color: #222;
  padding: 50px;
}

.nav-footer {
  max-width: 1200px;
  text-align: center;
  margin: auto;
  display: flex;
  color: white;
  font-size: 18px;
  list-style: none;
  align-items: baseline;
  justify-content: space-between;
}
.nav-footer li {
  position: relative;
}
.nav-footer a {
  color: white;
  transition: 300ms color;
  text-decoration: none;
}

.nav-footer .nav-second {
  display: none;
  position: absolute;
  bottom: 20px;
  background: black;
}
.nav-footer:hover .nav-second {
  display: block;
}

a {
  transition: 2s 0s color;
}

a:hover {
  color: orange;
}


.picto {
  display: block;
  margin: 0 auto;
}


.picto {
  background: hsl(0, 90%, 75%);
  border-radius: 20px;
  padding: 5px;
  transition: 1s all;
}


.picto:hover {
  animation: disco 2s infinite;
}


@keyframes disco {
  0% {
    background: hsl(0, 70%, 60%);
  }
  20% {
    background: hsl(72, 70%, 60%);
  }
  40% {
    background: hsl(144, 70%, 60%);
  }
  60% {
    background: hsl(216, 70%, 60%);
  }
  80% {
    background: hsl(288, 70%, 60%);
  }
  100% {
    background: hsl(360, 70%, 60%);
  }

}
