body {
  padding: 20px 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: hsl(180, 4%, 90%);
  background-color: rgb(42, 42, 42);
}

a {
  color: #e86e34;
  text-decoration: none;
}

a:hover {
  color: #ee8f63
}

h1 {
  margin: 0;
  font-size: 2.8em;
  font-weight: normal;
  text-align: left;
}

p {
  margin: 0;
  font-size: 1.8em;
  font-weight: normal;
  text-align: left;
}


p.note {
  font-size: 1.4em;
  position: fixed;
  right: 0;
  bottom: 15px;
  left: 0;
  text-align: center;
  color: hsl(180, 4%, 70%);
}

.zootrope {
  margin: 25vh auto 0;
  width: 190px;
  height: 200px;
  overflow: hidden;
  border: 1px solid hsl(180, 4%, 25%);
  background: rgb(40, 40, 40);
}

.sprite {
  position: relative;
  left: 0;
}


.is-light {
  color: rgb(42, 42, 42);
  background: hsl(180, 4%, 90%);
}

.is-light a {
  color: rgb(230, 110, 50);
}

.is-light p.note {
  color: rgb(84, 84, 84);
}
