extends ../layout/main.pug

prepend header
  - var page  = 'single conseils-de-lecture'

block content
  .container.single.conseils-de-lecture

    .single__header
      h2.single__title Les grandes marées
      h2.single__subtitle De Jim Lynch

    .columns
      .column.column--grow
        img.full-width(src="/img/cover-large.png")

      .column.column--50.column--580
        p.chapo Une nuit, le jeune Miles O’Malley, treize ans, se faufile hors de chez lui pour aller explorer les étendues du Puget Sound à marée basse.

        p Il fait une découverte qui lui vaut une célébrité locale. Certains se demandent quand même si cet adolescent imaginatif n’est pas un affabulateur ou... peut-être davantage ? En fait, Miles est surtout un gosse qui s’apprête à grandir, passionné par l’océan, amouraché de la fille d’à côté et inquiet à l’idée que ses parents divorcent. Alors que la mer continue à abandonner des présents issus de ses profondeurs mystérieuses, Miles se débat avec la difficulté d’entrer dans le monde des adultes.

        .quote
          p.quote__text "Jim Lynch est un immense sentimental, il écrit merveilleusement bien et il décrit la mer, la nature de manière prodigieuse."
          p.quote__author Christine Ferniot - Michel Abescat, Le Cercle Polar - Télérama

        .quote
          p.quote__text "Une histoire poignante sur le passage à l’âge adulte et un premier livre enchanteur sur la vie aquatique."
          p.quote__author Entertainment Weekly

        p Jim Lynch est né en 1961. Diplômé de l’Université de Washington, il a sillonné le pays en tant que reporter pour des journaux en Alaska, en Virginie et à Washington D.C. Il est l’auteur de quatre romans et collabore avec plusieurs journaux dont le Seattle Times. Il vit et navigue à Olympia et dans l’État de Washington.

    hr.separator

    .text-container
      h3 scelerisque nisl

      p Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.

      p Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Donec sed odio dui.

      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
