extends ../layout/main.pug

prepend header
  - var page  = 'single decouvrez-notre-librairie'


block content
  .container.single.decouvrez-notre-librairie
    .text-container
      p.chapo À deux pas de la Gare et à la frontière de Moulins, Clapet est une librairie de quartier, généraliste, dans laquelle vous trouverez des ouvrages jeunesse, BD, littérature, jeux/jouets et loisirs créatifs. Tenue par deux amies, elle se revendique librairie enthousiaste et familiale !

    img.full-width(src="./img/illu-large.jpg", alt="")

    hr.separator

    h2 Nous trouver

  img.full-width(src="./img/map.png", alt="")
