extends ../layout/main.pug

prepend header
  - var page  = 'list news'


block content
  .container
    .news-list
      .news.news--large.news-list__news--large
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-0.png", alt="")
          .news__content
            p.news__date 8 décembre 2018
            h3.news__title Séance de dédicaces avec Marguerite Abouet & Mathieu Sapin
            p.news__text A l'occasion de la parution du dernier tome de la série Akissi, Nous avons le plaisir de recevoir Marguerite Abouet et Mathieu Sapin pour une séance de dédicaces !
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-1.png", alt="")
          .news__content
            p.news__date 28 novembre 2018
            h3.news__title Lecture - goûter avec Coline !
            p.news__text Nous vous proposons une lecture-goûter animée par Coline ! Une lecture qui s'adresse aux enfants âgés de 3 à 6 ans. Le nombre de places est limité à 10 enfants, pensez à réserver.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-2.png", alt="")
          .news__content
            p.news__date 27 novembre 2018
            h3.news__title Rencontre avec Tiffany Tavernier
            p.news__text La rencontre est organisée dans le cadre du partenariat entre l'association Libr'aire et le Rectorat de Lille pour la première mise en place dans l'académie du Prix Femina des lycéens.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-2.png", alt="")
          .news__content
            p.news__date 27 novembre 2018
            h3.news__title Rencontre avec Tiffany Tavernier
            p.news__text La rencontre est organisée dans le cadre du partenariat entre l'association Libr'aire et le Rectorat de Lille pour la première mise en place dans l'académie du Prix Femina des lycéens.
      .news.news--wide.news-list__news.news-list__news--wide
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-0.png", alt="")
          .news__content
            p.news__date 8 décembre 2018
            h3.news__title Séance de dédicaces avec Marguerite Abouet & Mathieu Sapin
            p.news__text A l'occasion de la parution du dernier tome de la série Akissi, Nous avons le plaisir de recevoir Marguerite Abouet et Mathieu Sapin pour une séance de dédicaces !
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-1.png", alt="")
          .news__content
            p.news__date 28 novembre 2018
            h3.news__title Lecture - goûter avec Coline !
            p.news__text Nous vous proposons une lecture-goûter animée par Coline ! Une lecture qui s'adresse aux enfants âgés de 3 à 6 ans. Le nombre de places est limité à 10 enfants, pensez à réserver.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-2.png", alt="")
          .news__content
            p.news__date 27 novembre 2018
            h3.news__title Rencontre avec Tiffany Tavernier
            p.news__text La rencontre est organisée dans le cadre du partenariat entre l'association Libr'aire et le Rectorat de Lille pour la première mise en place dans l'académie du Prix Femina des lycéens.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
      .news.news--wide.news-list__news.news-list__news--wide
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
      .news.news--wide.news-list__news--wide
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-2.png", alt="")
          .news__content
            p.news__date 27 novembre 2018
            h3.news__title Rencontre avec Tiffany Tavernier
            p.news__text La rencontre est organisée dans le cadre du partenariat entre l'association Libr'aire et le Rectorat de Lille pour la première mise en place dans l'académie du Prix Femina des lycéens.
      .news.news--small.news-list__news--small
        a.news__link.link-block(href="/notre-actualite.html")
          .news__thumbnail
            img.news__image(src="/img/news__thumbnail-3.png", alt="")
          .news__content
            p.news__date 25 novembre 2018
            h3.news__title Lecture d'extraits du roman "Roulio fauche le poil"
            p.news__text Nous organisons une mise en voix du roman "Roulio fauche le poil" (de Julia, paru aux éditions Le Tripode) par un comédien et une comédienne.
